<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Abnib Glamping 2026</title>
    <link rel="stylesheet" href="stylesheets/site.css">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta property="og:description" content="A camping/glamping trip that Liz has organised for Abnib IRL folks.">
    <meta property="og:image" content="images/open-graph.webp">
    <meta property="og:type" content="website">
  </head>
  <body>
    <header>
      <a href="/">Abnib Glamping 2026</a>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>
        an <a href="https://abnib.co.uk/">Abnib</a> website
      </p>
      <ul>
        <li>
          <a href="https://danq.me/"><img src="images/dan-q-88x31-lighter.gif" alt="Dan Q" width="88" height="31"></a>
        </li>
        <li>
          <a href="https://best-resolution.danq.dev/"><img src="https://best-resolution.danq.dev/any.gif" alt="Looks best at: any resolution!" width="88" height="31"></a>
        </li>
        <li>
          <a href="https://github.com/dan-q/abnib-glamping-2026"><img src="images/github.png" alt="GitHub" width="88" height="31"></a>
        </li>
      </ul>
    </footer>
    <script defer src="https://best-resolution.danq.dev/script.js"></script>
  </body>
</html>
